.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all .3s ease;
  height: 150px;
  background: #417AFF;
background: #00c6ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.hero > .container {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero.initialized {
  height: 100vh;
}

.quote-box {
  color: #fff;
  font-size: 16px;
  font-family: 'Montserrat', Arial, sans-serif;
  padding: 24px 10%;
}

.quote-box p:first-child {
  text-align: center;
}

.quote-box p:last-child {
  text-align: right;
  font-weight: 600;
  letter-spacing: 1px;
}

.hero-brand {
  text-align: center;
}

.hero-brand a {
  color: #fff;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 60px;
  letter-spacing: 1px;
  font-weight: 600;
}
