.container {
  width: 100%;
  margin: 0 24px;
}

@media (min-width: 600px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 980px;
  }
}

@media (min-width: 1150px) {
  .container {
    width: 1080px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1140px;
  }
}