.result-list-loading-item {
  width: 100%;
  height: 100px;
  background-color: #f3f3f3;
  background: linear-gradient(to right, #f3f3f3 5%, #eee 20%, #f3f3f3 35%);
  animation: placeholderShimmer 2s linear 0s infinite normal forwards;
  border-radius: 6px;
  margin-bottom: 24px;
  opacity: 0;
  transition: all .3s ease;
}

.result-list-loading-item.show {
  opacity: 1;
}

@keyframes placeholderShimmer{
    0%{
        background-position: -500px 0
    }
    100%{
        background-position: 500px 0
    }
}