input {
  color: inherit;
  background: transparent;
  box-shadow: none;
  border: none;
  border-radius: 0;
  font-size: 20px;
}

.search-box {
  margin-top: 32px;
  margin-bottom: 100px;
  position: relative;
}

.search-box input {
  padding: 8px 16px;
  font-family: 'Montserat', Arial, Helvetica, sans-serif;
  transition: all .3s ease;
  background: #fff;
  border-bottom: 4px solid #333;
}

.search-box input::placeholder {
  color: #202124;
}

.search-box input:hover,
.search-box input:active,
.search-box input:focus {
}

.initiated .search-box input {
  width: 600px;
}

.search-box button {
  background: transparent;
  color: inherit;
  box-shadow: none;
  border: none;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 24px;
  padding: 8px;
  cursor: pointer;
}

.search-box .search.icon {
  color: #333;
  border-width: 4px;
  width: 20px;
  height: 20px;
}