/* Icons from https://cssicon.space/ */
.icon-wrapper {
  width: 24px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 4px;
}

.search.icon {
  color: #3F3E43;
  position: absolute;
  width: 14px;
  height: 14px;
  border: solid 2px currentColor;
  border-radius: 100%;
  transform: rotate(-45deg);
  transition: all .3s ease;
}
.search.icon:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 4px;
  height: 10px;
  width: 2px;
  background-color: currentColor;
}